<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="dev_adventure.Settings2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="dev_adventure.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="dev_adventure.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="dev_adventure.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <dev_adventure.Settings2>
            <setting name="Setting" serializeAs="String">
                <value>omg</value>
            </setting>
        </dev_adventure.Settings2>
        <dev_adventure.app>
            <setting name="DesiredResolution" serializeAs="String">
                <value>1920, 1080</value>
            </setting>
            <setting name="FramesPerSecond" serializeAs="String">
                <value>30</value>
            </setting>
        </dev_adventure.app>
    </applicationSettings>
    <userSettings>
        <dev_adventure.Settings1>
            <setting name="Setting" serializeAs="String">
                <value>fhfh</value>
            </setting>
        </dev_adventure.Settings1>
        <dev_adventure.app>
            <setting name="Fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
        </dev_adventure.app>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
